astro
chromium
dconf
gh/hosts.yml
GIMP
gtk-2.0
gtk-3.0
# htop
# i3
# i3status
# kitty
mimeapps.list
# nvim
# picom.conf
procps
protonmail-nativefier-389aa3
protonvpn
pulse
# qmk
# rofi
spotify
# systemd
# Thunar
user-dirs.dirs
user-dirs.locale
xfce4
# Xmodmap
yay
